body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}
#password{
    margin: 150px;
    padding: 25px;
    width: 300px;
    background-color: rgb(152, 233, 195);
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 15px;
}
div select{
    display: inline-block;
    justify-content: center;
}
select{
    width: 70px;
    height: 30px;
    margin: 10px;
    padding: 15px;
    font-size: 15px;
}
h2{
    text-align: center;
    color: #333;
}
button{
    border: none;
    width: 130px;
    height: 75px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
}